.fav-page
    .popup
        .popup__wrap
            .popup__close
            .popup__title HOW TO RECEIVE THE BONUS:
            ol.popup__list
                li.popup__list-item On your birthday, a special gift awaits you in the Bonuses section!
                li.popup__list-item Only if you have completed the account verification process at least one day before your birthday.
                li.popup__list-item Activate the bonus of 50 Free Spins and 25 lei Risk Free Bet.
            a(href="/personal-office/bonuses/").popup__btn na svoj osobni račun
    .main
        .main__banner
            .main__banner-wrap
                .main__banner-left
                    .main__banner-text-bonus FAVBET BIRTHDAY BONUS
                    .main__banner-text-top
                        span FAVBET
                        span wishes
                        span you
                    .main__banner-text-center A wonderful <br> birthday
                        span.center-subtext You have reached <br> a new level
                    .main__banner-text-bottom Don't limit your wishes, it's time for pleasant surprises.
                .main__banner-right
                    .main__banner-right-img
                        img(src="./img/banner-cake.png" alt="favbet.ua")
                    .main__banner-icons
                        .main__banner-icons-left
                            .cubes-icon
                            .cherry-icon
                            .cards-icon
                        .main__banner-icons-right
                            .sport-icon
                            .game-icon
                            .fav-icon
                            .loading-icon
            .main__banner-bottom
                .main__banner-bottom-item Be inside the game with FAVBET
                .main__banner-bottom-item We want to contribute with positive emotions to your special day.
                .main__banner-bottom-item FAVBET BIRTHDAY BONUS
        .main__game
            .main__game-machine
                .main__game-machine-text vaš bonus <br> vas čeka
                .main__game-playground
                    .game-body
                        .hook-wrap
                            .hook-fastering
                            .hook
                    .result
                        .FS FS #[span 0]#[span 0]
                        .RFB RFB #[span 0]#[span 0]
                        .RON RON #[span 0]#[span 0]
                    .start-text Press the button...
                    .coins
                        .coin.coin1
                        .coin.coin2
                        .coin.coin3
                        .coin.coin4
                        .coin.coin5
                        .coin.coin6
                    .gameOver
                        .gameOver__title Ai din partea noastră <br> un cadou:
                        .gameOver__prize 50 Free Spins and <br> 25 lei Risk Free Bet.
                        .gameOver__info HOW TO RECEIVE THE BONUS
                .main__game-machine-btn start
    .details
        details.drop
            summary.drop__btn
                span Details
            ul.drop__list
                li.drop__list-item 1. Activate the bonuses received from us on your birthday.
                li.drop__list-item 2. To use the Free Spins, you must make a minimum deposit of 20 lei.
                li.drop__list-item To use the Free Spins, you must make a minimum deposit of 20 lei.
    .rules
        details.drop
            summary.drop__btn
                span Terms and conditions
            ul.drop__list
                li.drop__list-item.drop__list-title Art. 1. Campaign Organizer
                li.drop__list-item 1.1 The organizer is FAVBET ONLINE S.R.L., a commercial company headquartered in Bucharest, registered with the Trade Registry Office attached to the Bucharest Tribunal under number J40/14188/2015 dated 18.11.2015, VAT no. 35246629, License series: L1200662W0011197, valid from 01.05.2020.
                li.drop__list-item 1.2 The campaign is conducted in accordance with this Regulation. Participants in the promotional campaign must know and respect the clauses of this Regulation.
                li.drop__list-item.drop__list-title Art. 2 Location of the Campaign
                li.drop__list-item 2.1 The campaign takes place exclusively on the Organizer's platform, Favbet.ro.
                li.drop__list-item.drop__list-title Art. 3 Campaign Period
                li.drop__list-item 3.1 The campaign period is from xx.0x.2024 until 31.12.2024 at 23:59.
                li.drop__list-item.drop__list-title Art. 4 Campaign Mechanism
                li.drop__list-item 4.1 The campaign is exclusively addressed to players who have an active account on the Organizer's platform and have completed the account verification procedure.
                li.drop__list-item 4.2 To benefit from the bonus offered in this campaign, you must meet the terms and conditions of participation.
                li.drop__list-item 4.3 The Organizer will grant bonuses to all players on the occasion of their birthday within this campaign.
                li.drop__list-item.drop__list-title Art. 5 Terms and Conditions of Participation
                li.drop__list-item 5.1 To participate in this campaign, it is mandatory that the account verification procedure be completed at least one day before the anniversary date.
                li.drop__list-item 5.2 To benefit from the Free Spins bonus, a minimum deposit of 20 lei is required.
                li.drop__list-item.drop__list-title Art. 6 Description and Allocation of Bonuses
                li.drop__list-item 6.1 By complying with the terms and conditions mentioned above, each player will be offered a bonus in the form of a Risk-Free Bet worth 25 lei and 50 Free Spins.
                li.drop__list-item 6.2 The bonuses will be granted on the anniversary day.
                li.drop__list-item 6.3 If a player is unable to receive the bonus (e.g., due to account blocking, self-exclusion, etc.), the Organizer will not award the bonus but will cancel it.
                li.drop__list-item 6.4 To receive the bonuses, all players must have completed the account verification stage. If this stage is not completed, the Organizer will not award the bonuses but will cancel them.
                li.drop__list-item 6.5 After being granted, the bonus will be found in the "My Account" section → "Bonuses" → "Risk-Free Bet" / "Free Spins".
                li.drop__list-item.drop__list-title Art. 7 Terms and Conditions of Use for "Risk-Free Bet"
                li.drop__list-item 7.1 The bet can be placed only if there are available funds in the game account balance for using the Risk-Free Bet;
                li.drop__list-item 7.2 The odds of each event placed must be between a minimum of 1.80 and a maximum of 5.00;
                li.drop__list-item 7.3 System type tickets are not considered;
                li.drop__list-item 7.4 After selecting the events and meeting the conditions mentioned above before placing the bet, the "Risk-Free Bet" box will be checked;
                li.drop__list-item 7.5 If the bet is not a winner, the placed stake will be refunded;
                li.drop__list-item 7.6 The winnings generated from this bonus must be rolled over x1
                li.drop__list-item 7.7 The bonus must be accepted within a maximum of 3 (three) days from the date of granting. Otherwise, it will expire;
                li.drop__list-item 7.8 From the moment the bonus is accepted, the player has 3 (three) days to use the bonus and meet the rollover condition;
                li.drop__list-item 7.9 Acceptance and use of each bonus are done individually; other bonuses available in the account can be on hold or paused.
                li.drop__list-item.drop__list-title Art. 8 Terms and Conditions of Use for "Free Spins"
                li.drop__list-item 8.1 The value of one free spin is 1 lei;
                li.drop__list-item 8.2 The winnings generated from free spins must be rolled over x1;
                li.drop__list-item 8.3 The bonus must be accepted within a maximum of 3 (three) days from the deposit date. Otherwise, it will expire;
                li.drop__list-item 8.4 After making the deposit, the bonus can be used within a maximum of 3 (three) days;
                li.drop__list-item 8.5 Acceptance and use of each bonus are done individually; other bonuses available in the account can be on hold or paused.
                li.drop__list-item.drop__list-title Art. 9 Other Clauses
                li.drop__list-item 9.1 Favbet reserves the right to exclude players who participate in this campaign with multiple accounts, self-excluded, or blocked.
                li.drop__list-item 9.2 Employees of Favbet Online, collaborators, employees of collaborators, as well as their spouses and first-degree relatives, are not allowed to participate in this Campaign.
                li.drop__list-item 9.3 Favbet reserves the right to suspend the Campaign for a player, a group, or all players, without prior explanation or notification, if it is used in a manner that contravenes the Organizer's Rules.
                li.drop__list-item 9.4 The Campaign complies with the Regulations and Terms and Conditions of Favbet.
                li.drop__list-item 9.5 Players participating in this campaign can also participate in other promotions/campaigns/bonuses available on the Organizer's platform.
                li.drop__list-item 9.6 The Campaign is limited to one use per account/address/IP, etc.
                li.drop__list-item.drop__list-title Art. 10 Participant Information
                li.drop__list-item 10.1 The Campaign Regulation is available on the Organizer's Platform Favbet.ro.
                li.drop__list-item 10.2 Participation in this Campaign implies the obligation to comply with all the provisions of this Regulation.
                li.drop__list-item 10.3 For any issues related to this campaign, you can contact us at the email address: support@favbet.ro.
                li.drop__list-item 10.4 The Campaign is valid on all versions of the platform (desktop, mobile, and mobile application).
                li.drop__list-item.drop__list-title Art. 11 Final Provisions
                li.drop__list-item 11.1 Participation in this Campaign represents the full agreement of the player to respect this Regulation.
                li.drop__list-item 11.2 Persons under the age of 18 are prohibited from participating in the Campaign.
                li.drop__list-item 11.3 This Regulation may be amended and/or updated during the Campaign or at any other time without prior notice to the players. They have the obligation to check the Terms and Conditions of the Campaign.
                li.drop__list-item 11.4 If it is found that a player has violated the Regulation, he/she will be excluded from the Campaign.
                li.drop__list-item 11.5 The Organizer assumes no responsibility in the following cases (without limitation):
                    ul.drop__sublist
                        li.drop__sublist-item • The postponement of the Campaign and errors that occur during it;
                        li.drop__sublist-item • Connection errors or other technical problems (Desktop, Mobile, Tablet, and internet) of the players;
                        li.drop__sublist-item • For receiving incomplete and/or incorrect contact details and/or other information necessary for the Campaign.
                li.drop__list-item This regulation has been drafted in Romanian and translated into an international language. Regarding the interpretation of this regulation, the Romanian version shall prevail.
